:root {
  --body-bg: rebeccaPurple;
  --msger-bg: slategrey;
  --border: 2px solid #1e1e1e;
  --left-msg-bg: mintcream;
  --right-msg-bg: #3f51B5;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .msger {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 75%;
    margin: 25px 0;
    margin-right: 3%;
    height: calc(100% - 50px);
    border: var(--border);
    background: var(--msger-bg);
    transition: width 0.3s ease;
  }

  .msger-header-title {
    display: none;
  }
  
  .msger-header-options1 {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    margin-left: 0;
  }
  
  .msger-header-options2 {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
  }

  .msger-header-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .msger {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 75%;
    margin: 25px 0;
    margin-right: 10%;
    height: calc(100% - 50px);
    border: var(--border);
    background: var(--msger-bg);
    transition: width 0.3s ease;
  }

  .msger-header-title {
    display: block;
    margin-right: -15%;
  }
  
  .msger-header-options1 {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .msger-header-options2 {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .msger-header-message {
    display: none;
  }
}

.msger-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: var(--border);
  background: #2b2c34;
  color: #d9d9d9;
  height: 40px;
}



.id_session{
  display: none;
}



.header-text {
  font-size: 18px;
  font-weight: inherit;
  color: #d9d9d9; /* Change the color to match the header text color */
  background-color: transparent;
  border: none;
  outline: none;
  width:300px;
}

.msger-chat {
  flex: 1;
  flex-grow: 1;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.msger-chat::-webkit-scrollbar {
  width: 10px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #2b2c34;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #444654;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.msg-bubble {
  max-width: 500px;
  padding: 5px;
  border-radius: 10px;
  background: var(--left-msg-bg);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 10px;
}

.left-msg .msg-img {
  margin: 0 5px 0 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 5px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #2b2c34;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1.5;
  background: #444654;
  color: #d9d9d9;
}

.msger-send-btn {
  margin-left: 10px;
  background: #69707a;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.msger-send-btn:hover {
  background: #4c5563;
}

/* Styles for desktop*/
@media (min-width: 768px){
.sidebar {
  position: inherit;
  left: 75px; /* Set the sidebar width here */
  right: auto;
  top: 0;
  width: 120px; /* Set the sidbar width here */
  background-color: transparent;
  padding-top: 25px;
  overflow-x: hidden;
  height: inherit;
  transition: transform 0.3s ease;
  transform: translateX(-300%);
  z-index: 1000;
}
}


/* Styles for mobile*/
@media (max-width: 768px){
  .sidebar {
    position: sticky;
    /*left: 0px; Set the sidebar width here */
    top: 0;
    width: 120px; /* Set the sidbar width here */
    background-color: transparent;
    padding-top: 25px;
    overflow-x: hidden;
    height: inherit;
    transition: transform 0.3s ease;
    transform: translateX(-300%);
    z-index: 1000;
    user-select:nonel
  }

  .sidebar a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 8px 16px;
    color: white;
    cursor: pointer;
  }
  
  .content {
    padding: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
}

.sidebar-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: auto;
  cursor: auto;
  background: #2b2c34;
  color: #d9d9d9;
  height: 41.5px;
  padding: 15px;
}


.tablink {
  display: flow-root;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background-color: lightseagreen;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.tablink.active {
  background-color: #444654;
  color: #fff;
}


/* Styles for the tab content */
.tabcontent {
  display: contents;
  padding: 50px;
  height: 100%;
}

/* Styles for the first tab */
#tab1 {
  display: block;
}

#tab2 {
  display: block;
}

#tab3 {
  display: block;
}

#tab4 {
  display: block;
}

#tab5 {
  display: block;
}

#tab6 {
  display: block;
}


#menu-btn {
  background-color: royalblue;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  position: sticky;
}

#delete-button {
  border: 3px solid cornflowerblue;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: aqua;
  background-color: inherit;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  position: sticky;
  margin: 0 10px;
  margin-right: -5px;
}

@media (max-width: 640px) {
  #delete-button {
    font-size: 14px;
  }
}

#id {
  display: none;
}

pre.custom-code {
  /* Add your custom styles for the code block container (pre) here */
  background-color: black;
  padding: 10px;
  border-radius: 4px;
}

code.custom-code {
  /* Add your custom styles for the code block content (code) here */
  font-family: "Courier New", monospace;
  color: gold;
}

.copy-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  }
  
.copy-button:hover {
  background-color: #0056b3;
}